.DS_Store
vue_frontend/node_modules
vue_frontend/dist

# local env files
vue_frontend/.env.local
vue_frontend/.env.*.local

# Log files
vue_frontend/npm-debug.log*
vue_frontend/yarn-debug.log*
vue_frontend/yarn-error.log*
vue_frontend/pnpm-debug.log*

# Editor directories and files
vue_frontend/.idea
vue_frontend/.vscode
vue_frontend/*.suo
vue_frontend/*.ntvs*
vue_frontend/*.njsproj
vue_frontend/*.sln
vue_frontend/*.sw?
vue_frontend/src/tailwind_output.css

# php passwords 
php_backend/setup.php

# nodejs passwords 
sequelize_nodejs_backend/config/config.json
sequelize_nodejs_backend/node_modules