.DS_Store
frontend_vue/node_modules

# local env files
frontend_vue/.env.local
frontend_vue/.env.*.local

# Log files
frontend_vue/npm-debug.log*
frontend_vue/yarn-debug.log*
frontend_vue/yarn-error.log*
frontend_vue/pnpm-debug.log*

# Editor directories and files
frontend_vue/.idea
frontend_vue/.vscode
frontend_vue/*.suo
frontend_vue/*.ntvs*
frontend_vue/*.njsproj
frontend_vue/*.sln
frontend_vue/*.sw?

# php passwords 
backend_php/setup.php

# nodejs passwords 
backend_node_js/config/config.json
backend_node_js/node_modules